.cartMain {
	padding: 40px 0;
	font-family: 'FuturaMediumC';
	font-weight: 400;
	height: 100%;
}

.cartMain h2 {
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}


@media screen and (max-width: 1200px) {
	.cartMain	{
		padding-top: 20px;
	}
}	


@media screen and (max-width: 600px) {
	.cartMain	{
		padding-top: 15px;
	}
}