.wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 70px;
}

.showroomTitle {
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--blackTextColor);
	text-transform: uppercase;
}

.showRoomImgBox {
	display: block;
}

.showRoomImgBox img {
	display: block;
	width: 450px;
	height: 520px;
	object-fit: cover;
}

.imgTwo {
	margin-bottom: 20px;
}

.imgThree {
	margin-bottom: 40px;
}


@media screen and (max-width: 1024px) {
	.showroomTitle {
		margin-bottom: 15px;
	}

	.showRoomImgBox:nth-child(2) {
		display: none;
	}

}

@media screen and (max-width: 800px) {
	.showRoomImgBox {
		width: 100%;
	}
.wrapper {
	margin-bottom: 30px;
}
	.showRoomImgBox img {
		width: 100%;
		height: 100%;
	}

	.showRoomImgBox:nth-child(3) {
		display: none;
	}
}