.instagramCards {
	padding-bottom: 100px;
}

.instagramCards h2 {
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: var(--blackTextColor);
	margin: 0;
	margin-bottom: 40px;

}

.wrapper {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(100px, 260px));
	gap: 20px;
}

.infoBox {
	width: 100%;
	padding-bottom: 20px;
	background-color: var(--whiteColor);
}

.infoBoxImg {
	width: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}


.descrBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.descrImg {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: top;
	background: linear-gradient(90deg, rgb(223, 64, 1) 0%, rgb(246, 115, 0) 20%, rgba(191, 15, 62, 1) 83%);
	border-radius: 50%;
	padding: 3px;
	border: 1px solid var(--whiteColor);
}



.descrBoxAbout {
	text-align: end;
	margin-left: 10px;
	width: min-content;
}

.descrBoxAbout p {
	margin: 0;
}

p.descrTitle {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 5px;
	display: flex;
}

p.descrTitle span {
	margin-left: 5px;
}

.subscribe {
	font-size: 16px;
	letter-spacing: 0.05em;
	color: dodgerblue;
	font-family: 'FuturaDemiC';
	font-weight: 600;
	position: relative;
}




.descrSubTItle {
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	color: rgb(119, 119, 119);
	white-space: nowrap;
}


@media screen and (max-width: 1024px) {
	.instagramCards {
		padding-bottom: 40px;
	}

	.descrImg {
		width: 40px;
		height: 40px;
	}

}

@media screen and (max-width: 800px) {

	.wrapper {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(4, 150px);
		gap: 10px;
	}

	.instagramCards h2 {
		margin-bottom: 20px;
	}

	.descrBoxAbout {
		margin-left: 5px;
	}

	.descrImg {
		width: 40px;
		height: 40px;
	}

	.instagramCards {
		display: block;
	}

	p.descrTitle {
		font-size: 10px;
		line-height: 15px;
		margin-bottom: 5px;
		display: block;
	}

	p.descrTitle span {
		font-size: 10px;
		font-weight: 400;
	}

	.descrSubTItle {
		font-size: 9px;
	}

	.instagramCards {
		padding-bottom: 20px;
	}

	.infoBox {
		padding-bottom: 10px;
	}
}


@media screen and (max-width: 700px) {
	.wrapper {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(3, 130px);
		gap: 10px;
	}

	.descrSubTItle {
		font-size: 7px;
	}

	p.descrTitle {
		margin-bottom: 0;
	}

	.infoBox {
		padding-bottom: 4px;
	}
}

@media screen and (max-width: 480px) {
	.wrapper {
		grid-template-columns: repeat(2, 130px);
	}
}