.skeletons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.skeletonCard {
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 19px;

	background-color: var(--colorCardsBackground);
	animation: skeleton 600ms ease-in-out infinite;
}

.skeletonInfo h3 {
	margin-bottom: 20px;
	color: #777;
	width: 60%;
	height: 20px;
	background-color: #bfbfbf;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 5px;
}


.skeletonInfoImg {
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	object-fit: cover;
}

.skeletonInfoImg {
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
	object-fit: cover;
	background-color: #bfbfbf;
}


.skeletonCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.skeletonCard button {
	display: block;
	width: 100%;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	background-color: var(--grayColor);
	transition: background-color 0.1s ease-in-out;
	color: var(--whiteTextColor);
	padding: 20px;
	font-family: 'FuturaMediumC';
	font-style: normal;
	text-transform: uppercase;
}



@keyframes skeleton {
	0% {
		background-color: rgb(183, 181, 181);
		background-position: 0 0;
	}

	100% {
		background-color: rgb(161, 159, 159);
		background-position: cubic-bezier(0, 0, 1, 1);
	}
}


@media screen and (max-width: 1024px) {
	.skeletonInfoImg {
		width: 120px;
		height: 120px;
		margin-bottom: 10px;
	}

	.skeletonCard button {
		padding: 15px;
	}
}

@media screen and (max-width: 800px) {
	.skeletons {
		gap: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.skeletonInfoImg {
		width: 90px;
		height: 90px;
	}

	.skeletonInfo h3 {
		height: 15px;
		margin-bottom: 10px;
	}

	.skeletonCard {
		padding: 10px;
	}

	.skeletonCard button {
		padding: 10px;
	}
}

@media screen and (max-width:600px) {
	.skeletonInfoImg {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 480px) {
	.skeletonInfoImg {
		width: 40px;
		height: 40px;
	}
	.skeletonInfo h3 {
		height: 10px;
		margin-bottom: 5px;
	}
	.skeletonCard button {
		padding: 5px;
	}
}