.cartHoverProductsInfo {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.cartHoverProductsInfoBox {
	width: 100%;
	padding: 0 20px;
}

.cartHoverProductsTitle {
	display: flex;
	justify-content: space-between;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 30px;
}

.cartHoverProductsTitle h3 {
	font-weight: 400;
	max-width: 200px;
	width: 100%;
	text-align: start;
}

.cartHoverProductsTitle p {
	margin-right: 10px;
}

.cartHoverProductsImg {
	display: block;
	max-width: 144px;
	width: 100%;
	height: 192px;
	object-fit: contain;
	border-radius: 5px;
	margin-right: 25px;
}


.cartHoverProductQuantityBox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.cartHoverProductQuantity {
	margin-bottom: 15px;
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	display: flex;
}

@media screen and (max-width: 800px) {
	.cartHoverProductsImg {
		width: 100px;
		margin-right: 10px;
	}

	.cartHoverProductsInfo {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.cartHoverProductsInfoBox {
		padding: 0 10px;
	}


	.cartHoverProductsTitle {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 5px;
	}

	.cartHoverProductsTitle h3 {
		width: 160px;
		margin-right: 5px;
	}

	.cartHoverProductQuantity {
		margin-bottom: 5px;
	}


}

@media screen and (max-width: 480px) {
	.cartHoverProductsImg {
		width: 45px;
		margin-right: 5px;
		height: auto;
	}

	.cartHoverProductsTitle {
		font-size: 10px;
		line-height: 15px;
		margin-bottom: 5px;
	}

	.cartHoverProductsTitle h3 {
		width: 100px;
	}

	.cartHoverProductsTitle p {
		font-size: 13px;
		margin: 0;
		flex-shrink: 0;
	}
}