/* 
Все шрифты которые есть

FuturaMediumC    400, 
FuturaDemiC      500, 
HelveticaNeueCyr 400, 500
FuturaBookc      400, 
FuturicaLt       600, 
Lato             400, 500, 600, 700
ProximaNova      400, 600, 

*/




@font-face {
	font-family: "FuturaMediumC";
	src: url("./futuramediumc.woff2") format("woff2"),
			url("./futuramediumc.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}



@font-face {
	font-family: "FuturaDemiC";
	src: url("./FuturaDemiC.woff2") format("woff2"),
			url("./FuturaDemiC.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("./HelveticaNeueCyr-Roman.woff2") format("woff2"),
			url("./HelveticaNeueCyr-Roman.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("./HelveticaNeueCyr-Medium.woff2") format("woff2"),
			url("./HelveticaNeueCyr-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: "FuturaBookc";
	src: url("./futurabookc.woff2") format("woff2"),
			url("./futurabookc.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}





@font-face {
	font-family: "FuturicaLt";
	src: url("./FuturicaLt-SemiBold.woff2") format("woff2");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}




@font-face {
	font-family: "Lato";
	src: url("./Lato-Medium.woff2") format("woff2"),
			url("./Lato-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: "Lato";
	src: url("./Lato-Regular.woff2") format("woff2"),
			url("./Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: "Lato";
	src: url("./Lato-Semibold.woff2") format("woff2"),
			url("./Lato-Semibold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: "ProximaNova";
	src: url("./ProximaNova-Semibold.woff2") format("woff2"),
			url("./ProximaNova-Semibold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}



@font-face {
	font-family: "Lato";
	src: url("./Lato-Bold.woff2") format("woff2"),
			url("./Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: "ProximaNova";
	src: url("./ProximaNova-Regular.woff2") format("woff2"),
			url("./ProximaNova-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


