.SocialSideMenuWrapper {
	position: fixed;
	right: 42px;
	bottom: 50px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.arrowUpBox {
	display: inline-flex;
	text-align: center;
	flex-direction: column;
	width: 40px;
	align-items: center;
	margin-bottom: 25px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}

.arrowUp {
	width: 30px;
	object-fit: contain;
	margin-bottom: 10px;
	width: 35px;
	object-fit: contain;
	margin-bottom: 10px;
	background: #E1C4A9;
	border-radius: 50%;
	padding: 5px;
}


.arrowUp path {
	fill: var(--bgWhite);
}
.menuText {
	writing-mode: vertical-lr;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.1em;
	font-family: 'Lato';
	color: var(--grayColor);
	margin: 0;
}

.menuTextSlash {
	margin-bottom: 10px;
}

.SocialSideMenuPhone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 59px;
	height: 59px;
	background-color: #E1C4A9;
	border-radius: 23px;
	border: none;
	cursor: pointer;
}

.SocialSideMenuPhone {
	position: relative;
	margin-bottom: 10px;
}

.SocialSideMenuPhone span {
	width: 36px;
	height: 36px;
	background-color: #FFFFFF;
	border-radius: 14px;
}

.SocialSideMenuPhone span::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
	height: 26px;
	background-color: #E1C4A9;
	border-radius: 3px;
}


.SocialSideMenuPhone span::before {
	content: '';
	position: absolute;
	transform: translate(-2px, 24px);
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	z-index: 2;
}


.SocialSideMenuMessage {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 59px;
	height: 59px;
	background-color: #E1C4A9;
	border-radius: 23px;
	border: none;
	cursor: pointer;
	position: relative;
}


.SocialSideMenuMessage span {
	display: block;
	width: 36px;
	height: 36px;
	background-color: #FFFFFF;
	border-radius: 14px;
}

.SocialSideMenuMessage span::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	width: 6px;
	height: 6px;
	background: #E1C4A9;
	z-index: 2;
	border-radius: 50%;
}

.SocialSideMenuMessage span::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 6px;
	height: 6px;
	background: #E1C4A9;
	z-index: 2;
	border-radius: 50%;
}


@media screen and (max-width: 700px) {
	.arrowUpBox {
		margin-bottom: 15px;
	}

	.SocialSideMenuPhone {
		width: 40px;
		height: 40px;
	}

	.SocialSideMenuPhone span {
		border-radius: 50%;
	}

	.SocialSideMenuMessage {
		width: 40px;
		height: 40px;
	}

	.SocialSideMenuMessage span {
		width: 18px;
		height: 25px;
	}

	.SocialSideMenuWrapper {
		right: 22px;
	}

	.arrowUpBox {
		margin-bottom: 0;
	}

	.arrowUpBox h2 {
		display: none;
	}
}