.categories {
	display: flex;
	padding-bottom: 100px;

}

.categoriesTitle {
	text-align: center;
	text-transform: lowercase;
	padding-top: 15px;
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.categoriesTitle::first-letter {
	text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
	.categoriesTitle {
		margin-bottom: 20px;
		font-size: 18px;
	}
}

@media screen and (max-width: 600px) {
	.categoriesTitle {
		margin-bottom: 10px;
		font-size: 15px;
	}
}

@media screen and (max-width: 480px) {
	.categories {
		display: block;
	}

	.categoriesTitle {
		padding-top: 0;
	}
}
