.title svg {
	display: inline-block;
	fill: #333;
}

.title svg:not(:last-child) {
	margin-right: 8px;
}

.titleE {
	width: 20px;
	height: 26px;
}

.titleL {
	width: 20px;
	height: 26px;
	
}

.titleN {
	width: 25px;
	height: 26px;
	
}

.titleA {
	width: 27px;
	height: 26px;
}