.headings {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 40px;
	position: relative;
	font-size: 21px;
	line-height: 20px;
	margin-bottom: 40px;
}

.headings::after {
	content: '';
	position: absolute;
	width: 100%;
	border: 1px solid #9f9f9f;
	bottom: 0;
}


.description {
	margin-left: 100px;
	margin-right: 20px;
	display: block;
}

.settings {
	margin-left: auto;
	display: inline-flex;
	max-width: 550px;
	width: 100%;
	justify-content: space-between;
	margin-right: 100px;
}

.settings p:not(:last-child) {
	margin-right: 20px;
}


@media screen and (max-width: 1200px) {
	.description{
		display: none;
	}
	.settings{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.headings {
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 0;
	}
}