.headings {
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 40px;
	position: relative;
	font-size: 21px;
	line-height: 20px;
	margin-bottom: 40px;
}

.headings::after {
	content: '';
	position: absolute;
	width: 100%;
	border: 1px solid #9f9f9f;
	bottom: 0;
}


.description {
	margin-left: 100px;
	margin-right: 20px;
}

.settings {
	margin-left: auto;
	display: inline-flex;
	max-width: 550px;
	width: 100%;
	justify-content: space-between;
	margin-right: 100px;
}

.settings p:not(:last-child) {
	margin-right: 20px;
}