.profilePage {
	height: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
}

.profilePageWrapper {
	height: 100%;
}

.profilePageWrapper>h3 {
	text-align: center;
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.profileBtnBox {
	display: flex;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}