.header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.visuallyHidden {
  position: fixed;
  transform: scale(0);
}

.spaceLeft {
	display: inline-flex;
	margin-left: 60px;
}












