.header {
	padding-top: 40px;
	padding-bottom: 30px;
}

.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin-bottom: 10px;
}

.visuallyHidden {
	position: fixed;
	transform: scale(0);
}

.spaceLeft {
	display: inline-flex;
	margin-left: 60px;
}


@media screen and (max-width: 800px) {
	.header {
		display: flex;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.headerWrapper {
		margin-top: 60px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		display: block;
		padding-top: 20px;
		text-align: end;
	}

	.spaceLeft {
		display: block;
		margin-left: 0;
		margin-bottom: 5px;
	}
	
	.headerWrapper {
		margin-top: 0;
		display: block;
	}
}