.header {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 30px;
	position: relative;
}

.visuallyHidden {
	position: fixed;
	transform: scale(0);
}

.spaceLeft {
	display: inline-flex;
	margin-left: 60px;
}
