.paginationBtnWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.paginationBtnWrapperLists:not(:last-child) {
	margin-right: 5px;
}

.paginationBtnWrapperLists a {
	display: block;
	text-align: center;
	border-radius: 5px;
	background-color: var(--colorBtn);
	color: var(--blackTextColor);
	cursor: pointer;
	font-size: 15px;
	border: 1px solid transparent;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.activeCurrentBtn a {
	color: var(--colorActionBtnText);
	border: 1px solid var(--colorBtn);
	background-color: var(--colorActionBtn);
}



.paginationLeftLink {
	display: inline-block;
	margin-right: 20px;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
	background-color: var(--colorBtn);
	color: var(--blackTextColor);
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}



.paginationRightLink {
	display: inline-block;
	margin-left: 20px;
	border: none;
	background-color: var(--colorBtn);
	color: var(--blackTextColor);
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;

}

.paginationDisabled {
	background-color: var(--colorBtnDis);
	color: var(--colorBtnDisText);
	cursor: inherit;
}

.paginationPoints {
	margin-left: 10px;
	margin-right: 10px;
	display: block;
}

.paginationPoints a {
	font-size: 20px;
}


@media screen and (max-width: 800px) {
	.paginationBtnWrapper {
		display: block;
	}

	.paginationBtnWrapperLists {
		display: inline-block;
		margin-bottom: 10px;
	}

	.paginationLeftLink {
		display: block;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.paginationRightLink {
		display: block;
		margin-left: 0;
	}

	.paginationPoints {
		display: inline-flex;
	}


}