.footer {
	display: flex;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: var(--blackTextColor);
	padding-bottom: 40px;
}



.footerNavigate {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.footerWidthTitle {
	width: 250px;
}

.footerNav {
	margin-left: 70px;

}


.footerNavList {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footerNavList li:not(:last-child) {
	margin-right: 30px;
}

.footerNavList li a {
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
}


.feedback {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 40px;
}

.contactsPhoneWrapper {
	width: 250px;
}

.contactsPhone {
	display: block;
}

.contactsAddress {
	margin-left: 70px;
	font-style: normal;
}

.contactsAddress p {
	margin: 0;
}

.contactsAddressTitle {
	margin-bottom: 5px;
}

.workTime {
	margin-left: 70px;
}

.workTimeTitle {
	text-transform: uppercase;
}

.workTime p {
	margin: 0;
}


.socialLink {
	display: flex;
	align-items: center;
}


.socialLinkEmail {
	display: block;
	width: 250px;
}


.socialMarginLeft {
	margin-left: 70px;
}



.form_left {
	margin-left: 100px;
}
