.categoriesAside {
	width: 200px;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
}

/* верхний title у Aside */
.categoriesAsideTitle {
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.05em;
	margin-bottom: 5px;
	text-transform: uppercase;
}

/* навигационный список Aside */
.categoryAsideUpList {
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 16px;
}


.categoryAsideUpLists:not(:last-child) {
	margin-bottom: 15px;
}

.categoryAsideUpLists button{
	padding: 5px 0;
	padding-bottom: 10px;
	display: inline-block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-bottom: 3px solid transparent;
}

button.categoryAsideActive {
	color: #ae9177;
	border-bottom: 3px solid currentColor;
	cursor: pointer;
}
