.cartProduct {
	font-size: 20px;
	line-height: 35px;
}

.cartProduct h3 {
	font-weight: 400;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}

.cartProductPrice {
	margin-bottom: 10px;

}


.cartToCart {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	background-color: var(--cartBtn);
	text-transform: uppercase;
	color: var(--whiteTextColor);
	cursor: pointer;
	border: 1px solid transparent;
}

@media screen and (max-width: 1200px) {
	.cartProduct {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.cartProduct {
		font-size: 15px;
	}

	.cartProduct h3 {
		line-height: 15px;
		margin-bottom: 10px;
	}

	.cartProductPrice {
		line-height: 15px;
	}

	.cartToCart {
		padding: 3px 9px;
	}
}