
.login {
	background-color: var(--colorBtn);
	width: 150px;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 5px;
	display: inline-block;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	cursor: pointer;
}