.cartLink {
	display: flex;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
	padding-bottom: 12px;
	padding-left: 5px;
	transform: translateY(5px);
}

.cartSvg {
	display: inline-block;
	width: 20px;
	height: 20px;
	stroke: #333;
}

.cartCounter {
	position: absolute;
	top: -10px;
	right: -3px;
	font-size: 9px;
	line-height: 11px;
}