.simpleCardMain {
	display: grid;
	align-content: end;
	max-width: 300px;
	height: 100%;
	align-items: center;
	background-color: var(--colorCardsBgWhite);
	padding: 10px;
}

.simpleCardMain img {
	margin-bottom: 30px;
}

.fourthCard {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
	align-content: center;
}

/* .fourthCard img {
	height: 100%;
	object-fit: cover;
} */


.simpleCardImg {
	width: 100%;
	object-fit: contain;
	display: block;
}


.simpleCardTitleBox {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.simpleCardTitle {
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 16px;
}

.simpleCardBtn {
	display: block;
	padding: 2px;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;
	width: 25px;
	height: 25px;
}



.simpleCardBtnSvg {
	stroke: var(--colorBorderCart);
	height: 100%;
	display: inline-block;
	transition: fill 0.1s ease-in-out;
}

@media (min-width: 1200px) {
	.simpleCardBtnSvg:hover {
		stroke: #000;
		fill: var(--bgRemoveCart);
	}

	.simpleCardSvgActive:hover {
		stroke: #000;
	}
}

.simpleCardPrice {}

.simpleCardSvgActive {
	height: 100%;
	display: inline-block;
	stroke: var(--bgAddCart);

	fill: var(--bgAddCart);
}



@media screen and (max-width: 1280px) {
	.simpleCardMain {
		display: grid;
		align-content: end;
		max-width: 250px;
		height: 100%;
		align-items: center;
		background-color: var(--colorCardsBgWhite);
		padding: 10px;
	}

	.simpleCardMain img {
		margin-bottom: 20px;
	}

	.simpleCardImg {
		height: 100px !important;
	}

	.simpleCardTitleBox {
		margin-bottom: 15px;
	}

	.simpleCardTitle {
		font-size: 14px;
		line-height: 16px;
	}

}

@media screen and (max-width: 1024px) {

	
}

@media screen and (max-width: 768px) {
	.simpleCardMain img {
		margin-bottom: 10px;
	}

	.simpleCardTitleBox {
		margin-bottom: 10px;
	}

	.simpleCardTitle {
		font-size: 10px;
		line-height: 10px;
	}

	.simpleCardBtn {
		width: 20px;
		height: 20px;
	}

	.simpleCardPrice {
		font-size: 10px;
	}
}

@media screen and (max-width: 600px) {
	.simpleCardMain {
		max-width: 200px;
	}

	.simpleCardImg {
		height: 70px !important;
	}
}

@media screen and (max-width: 480px) {
	.simpleCardBtn {
		display: flex;
		width: 15px;
		height: 15px;
	}
}