.sceletonsProfileMain {
	

	
}


.sceletonsProfileTitle {
	max-width: 500px;
	width: 100%;
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 20px;
	padding: 5px;
	margin-left: 50px;

}

.sceletonsProfileAboutInfo {}