.container {
	max-width: 1370px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;

}

.layoutWrapper {
	display: grid;
	min-height: 100vh;
	min-height: 100dvh;
	grid-template-rows: auto 1fr auto;
}

.mainLayout {
	display: grid;
}